.THIS .hidden {
    display: none;
}
.THIS #lookupMenu.show {
    /* Ideally, we'd want to use '.hidden = true',but 'slds-lookup__menu', when inside RunDdp.cmp, has a 'display:none;' within its class definition. */
    /* We use this class to work around that. */
    display: block;
}
.THIS .lookup-left-icon {
    position: absolute;
    top: 5px;
    left: 9px;
}
.THIS .search-icon {
    height: 24px;
    width: 24px;
    padding: 4px 4px;
}